

<section class="d-flex justify-content-center">
    <form class="px-4 m-4 shadow">
      <div class="pt-4">
        <h4>Iniciar sesión</h4>
    </div>
      <div class="mb-3">
        <label for="company" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="company" placeholder="Télefono o correo eléctronico">
      </div>
     
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password">
      </div>
     
      <button type="submit" class="btn btn-primary rounded-0">Iniciar sesión</button>
    </form>
</section>
  
  
