<div class="footer mt-0">
    <div class="card border-0 ">
       
        <div class="card-body text-center">
          <blockquote class="blockquote mb-0">
            <p>Fotos tomadas de: Freepik.org y Veezepic.</p>
            <p>Todos los derechos reservados</p>
            <footer class="blockquote-footer">By <cite title="Source Title">Emmanuel Silano</cite></footer>
          </blockquote>
        </div>
        <div class="card-footer text-center">
          <p>© 2024 Copyright: NawarUp</p> 
        </div>
      </div>
</div>
