

<div class="container-form d-flex justify-content-md-between">
  <form class="w-sm-100">
    <div class="pt-4">
      <h4>Crear cuenta de cliente</h4>
  </div>
    <div class="mb-3">
      <label for="name" class="form-label">Escribe tu nombre completo</label>
      <input type="text" class="form-control" id="name">
    </div>
   
    <div class="mb-3">
      <label for="phone" class="form-label">Escribe tu número de télefono</label>
      <input type="text" class="form-control" id="phone">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Escribe tu correo eléctronico</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="passwordRepit" class="form-label">Repetir contraseña</label>
      <input type="password" class="form-control" id="passwordRepit">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="checkTermins">
      <label class="form-check-label" for="checkTermins">Acepto terminos y condiciones</label>
    </div>
    <button type="submit" class="btn btn-primary rounded-0">Registrarme</button>
  </form>
  <div class="img-login" [ngStyle]="{backgroundImage: 'url('+imgLoginBackground+')'}">

  </div>
</div>

